#item{
	width:400px;
	height:400px;
	margin:0 auto;
	top:300px;
	position: relative;
	left:200px;
	/*border:1px solid white;*/
}
ul{
	list-style-type: none;
}
body{
	background-color: #111;
	color: #1c1;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-weight: bold;
	font-size:1em;
	padding:0px;
	margin:0px;
	/* height:100vh; */
}
li{
	text-align:center;
	display:none;
}
.title{
	color:red;
	text-align: center;
	position:relative;
}
a{
	color:white;
	text-decoration: none;
}
sub {
	font-size:0.5em;
	position: absolute;
	top:40px;
	transform: rotate(45deg);

}
footer{
	border-top:1px solid #00ff0044;
	display:flex;
	justify-content: space-between;
	flex-direction: row;
	position: absolute;
	bottom:0px;
	width:100%;
	height:30px;
	background-color: #222;
}
footer span {
	padding:5px 10px;
	color: #00ff0044
}