<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule   ^(admin)|(login)\/?$ login.php [L]
	RewriteCond   %{REQUEST_FILENAME} !-d
	RewriteCond   %{REQUEST_FILENAME} !-f
	RewriteRule ^.*$ index.php [PT,L]
</IfModule>

